*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 2fr 3fr;
	overflow-y: visible;
}

.about-page, .social-page {
	font-family: 'Roboto', sans-serif;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 7vh 93vh;
}

nav{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 7vh;
	font-style: italic;
	grid-column: 1 / 4;
	grid-row: 1;
	transition: 0.5s ease-in-out;
}

ul{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	flex: 1 0 auto;
}

ul:first-child{
	border-left: 2px solid black;
}

li{
	border: 2px solid black;
	flex: .2 0 20%;
	width: 20%;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: white;
	border-left: none;
}

a{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 100%;
	transition: 0.3s ease;
}

nav a{
	text-transform: uppercase;
}

a:hover{
	background-color: #00539C;
	color: #EEA47F;
}

header{
	padding: 20px;
	font-size: 38px;
	grid-column: 1 / 3;
}

#experience{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(10, minmax(0,10vh));
    overflow-y: visible;
    transition: 0.3s;
}

header.experience{
	grid-column: 1 / 4;
}

.experience{
	padding: 20px 0 20px 0px;
}

.head{
	display: flex;
	width: 60%;
	padding: 20px;
	background-color: #EEA47F;
	align-items: flex-start;
	color: #00539C;
}

.skills{
	padding: 0;
	font-size: 32px;
	grid-column: 1 / 2;

}

.skills h1{
	background-color: #EEA47F;
	width: 100%;
	padding: 20px;
	color: #00539C;
}

.skillsDescription{
	/*grid-column: 1 / 2;
	grid-row: 3 / 4;*/
	font-size: 20px;
	padding: 20px;
}

.skill-container{
	grid-column: 1 / 2;
	grid-row: 3 / 5;
	padding: 20px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.skill-back{
		background-color: #ddd;
		margin: 10px 0 10px 0;
		border-radius: 20px;
		height: 20px;
		width: 100%;
}

.scene{
	margin: 10px;
	width: 150px;
	height: 150px;
	perspective: 600px;
}

.cube {
  width: 150px;
  height: 150px;
  position: relative;
  transform-style: preserve-3d;
  touch-action: none;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
  user-select: none; // chrome and Opera
	-moz-user-select: none; // Firefox
  -webkit-text-select: none; // IOS Safari
  -webkit-user-select: none; // Safari
  transform: rotateX(45deg) rotateZ(-45deg);
  -webkit-transform: rotateX(45deg) rotateZ(45deg);
}

.cube-face {
  width: inherit;
  height: inherit;
  position: absolute;
  background: red;
  opacity: 1;
 	text-align: center;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	font-weight: bold;
 	font-size: 20px;
 	color: white;
 	font-style: italic;
}

.cube-face-front {
	background-color: #fba204;
	transform: translate3d(0, 0, 75px);
}

.cube-face-back {
	background-color: #f33e54;
  transform: rotateY(180deg) translate3d(0, 0, 75px);
}

.cube-face-left {
	background-color: #1b186c;
  transform: rotateY(-90deg) translate3d(0, 0, 75px);
  color: white;
}

.cube-face-right {
	background-color: #8f81c0;
  transform: rotateY(90deg) translate3d(0, 0, 75px);
}

.cube-face-top {
	background-color: #b9afd5;
  transform: rotateX(90deg) translate3d(0, 0, 75px);
}

.cube-face-bottom {
	background-color: #5a2a53;
  transform: rotateX(-90deg) translate3d(0, 0, 75px);
  color: white;
}

.html {width: 94%; background-color: #04AA6D; border-radius: 20px; height: 20px; }
.css {width: 87%; background-color: #2196F3; border-radius: 20px; height: 20px;}
.js {width: 80%; background-color: #f44336;	border-radius: 20px; height: 20px;}
.php {width: 60%; background-color: #808080; border-radius: 20px; height: 20px;}
.figma{width: 65%; background-color: #b4c4f4; border-radius: 20px; height: 20px;}

.label-html{color: #00539C;}
.label-css{color: #00539C;}
.label-js{color: #00539C;}
.label-php{color: #00539C;}
.label-figma{color: #00539C;}

.skill-1{
	grid-column: 2 / 2;
	font-size: 20px;
	padding: 30px;
}

.skill-2{
	grid-column: 3 / 3;
	font-size: 20px;
	padding: 30px;
}

.skill-3{
	grid-column: 2 / 2;
	grid-row: 3  / 3;
	font-size: 20px;
	padding: 30px;
}

.skill-4{
	grid-column: 3 / 3;
	grid-row: 3  / 3;
	font-size: 20px;
	padding: 30px;
}

.skills h2 {
  font-size: 2rem;
  position: relative;
}

h2 span {
  background-color: white;
  padding-right: 10px;
}

.skills h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 3px solid #89CAF0;
  z-index: -1;
}

.skills p{
	padding-top: 20px;
	line-height: 30px;

}

.contact-form{
	grid-column: 1 / 2;
	grid-row: 2  / 3;
	justify-content: center;
	align-items: center;
	background-color: #EEA47F;
	height: 100%;
	border: 3px solid black;
	border-top: none;
	border-right: none;
}

.social-media{
	display: grid;
	grid-column: 2 / 3;
	grid-row: 2  / 3;
	justify-content: center;
	align-items: center;
	background-color: white;
	height: 100%;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	border: 3px solid black;
	border-top: none;

}

.fa-4x{
	font-size: 6em;
}

.social-media a{
	width: fit-content;
	height: fit-content;
}

a.sym1:hover{
	background-color: white;
	color: black;
}

a.sym2:hover{
	background-color: white;
	color: black;

}

.sym1{
	display: flex;
	align-content: center;
	justify-self: flex-end;
	text-align: center;
	margin-right: 50px;
}

.sym2{
	display: flex;
	align-content: center;
	justify-self: flex-start;
	text-align: center;
	margin-left: 50px;
}

.sym3{
	margin-top: 150px;
}

.sym4{
	margin-bottom: 150px;
}

.fa-facebook{
	border-radius: 50%;
	transition: 0.3s;
}

.fa-facebook:hover{
	box-shadow: 0px 0px 20px 0px #4267B2;
	background-color: #4267B2;
}

.fa-github{
	border-radius: 50%;
	transition: 0.3s;
}

.fa-github:hover{
	box-shadow: 0px 0px 20px 0px  #6cc644;
	background-color:  #6cc644;
}

.fa-linkedin{
	border-radius: 20%;
	transition: 0.3s;
	width: 99px;
	height: 99px;
}

.fa-linkedin:hover{
	box-shadow: 0px 0px 20px 0px  #0077B5;
	background-color:  #0077B5;
}

.fa-linkedin:before{
	position: relative;
	top: -6px;
	transition: 0.3s;
}

.fa-instagram{
	transition: 0.3s;
}

.fa-background{
	border-radius: 36%;
	height: 100px;
	width: 100px;
	transition: 0.3s;
}

.fa-instagram:hover{
	box-shadow: 0px 0px 20px 0px #fccc63;
	background-color: #fdf497;
}

.fa-instagram:before{
	position: relative;
	top: -5px;
	transition: 0.3s;
}

header.contact{
	color: #00539C;
	font-size: 40px;
	text-align: center;
}

form{
	padding: 0px 30px 30px 30px;
}

label{
	padding: 10px 0px;
}

input[type=text]{
	width: 100%; 
	border: 3px solid black;
	border-radius: 4px;
	padding: 12px 20px 12px 12px;
	margin: 5px 0px;
}

textarea{
  width: 100%;
  height: 150px;
  padding: 12px 12px;
  border: 3px solid black;
  border-radius: 4px;
  resize: none;
  margin: 5px 0px;
}

input[type=submit] {
  background-color: black;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.about{
	grid-column: 1 / 2;
	grid-row: 2  / 3;
	height: 93vh;
	width: 100%;
	padding-top: 10vh;
}

.about h1{
	font-size: 3rem;
	padding: 40px;
	padding-top: 60px;
	font-size: 38px;
	grid-row: 2  / 3;
	grid-column: 1 / 2;
	background-color: #EEA47F;
	color: #00539C;
	padding-top: 40px;
}

.about span{
	padding-bottom: 5px;
	font-style: italic;
}

.about-me{
	font-size: 20px;
	padding: 40px;
	line-height: 40px;
	align-items: center;
	justify-content: center;
}

.img{
	grid-column: 2 /4;
	grid-row: 2 / 3;
	height: auto;
	align-self: center;
	justify-content: center;
	justify-self: center;
	overflow: hidden;
	height: 100vh;
	width: 30vw;
	display: flex; 
	margin-top: 16vh;
}

.img img{
	width: 900px;
	height: auto;
	position: relative;
	align-self: center;
	margin-bottom: 13vh;
}

.button1{
		margin-left: 40px;
		margin-bottom: 40px;
		background-color: #00539C;
	  border: none;
	  color: #EEA47F;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
  	cursor: pointer;
  	transition: 0.3s;
	}

.button1:hover, .button1:focus {
  box-shadow: 0 0.6em 0.6em -0.4em black;
  transform: translateY(-0.25em);
}


.job{
    padding: 20px 20px 20px 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    color: black;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    background-color: white;
  }

.j1{
    grid-row: 5/9;
    grid-column: 1;
    position: relative;
    z-index: 1;
    transition: 0.3s ease;
}

.j2{
    grid-row: 6/10;
    grid-column: 2;
    position: relative;
    z-index: 1;
    transition: 0.3s ease;

}

.j3{
    grid-row: 5/9;
    grid-column: 3;
    position: relative;
    z-index: 1;
    transition: 0.3s ease;

}

.j1:hover {
   box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
   transform: translateY(-3px) scale(1.1);
   z-index: 2;
}

.j2:hover{
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
    z-index: 2;

}
.j3:hover{
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
    z-index: 2;
}

.job h2{
	font-size: 72px;
}

.job h3{
	font-size: 28px;
}

.job p{
	padding-top: 20px;
	line-height: 25px;
}

#menuToggle{
	display: none;
}

.newNavBar{
	display: none;
}

.thank-you{
	  text-align: center;
    color: #00539C;
    background-color: #EEA47F;
    grid-row: 2 / 2;
    grid-column: 1 / 3;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 42px;
    font-style: italic;
}

@media only screen and (max-width: 1040px){

	body.skillsGrid{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 7vh 1fr;
	}

	.head{
		font-size: 26px;
	}

	.skill-container{
		grid-column: 1 / 2;
		grid-row: 5 / 8;
		padding: 20px;
		width: 100%;
	}

	.skills {
			grid-column: 1 / 4;
			grid-row : 2 / 3

	}

	.skill-1{
		grid-column: 1 / 2;
		grid-row : 3 / 4;
	}
		

	.skill-2{
		grid-column: 2 / 3;
		grid-row : 3 / 4;
	}


	.skill-3{
		grid-column: 1 / 2;
		grid-row : 4 / 5;
	}

	.skill-4{
		grid-column: 2 / 3;
		grid-row : 4 / 5;
	}


	header.contact{
		font-size: 26px;
	}

}

@media only screen and (max-width: 756px){

	body{
		font-family: 'Roboto', sans-serif;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 7vh 1fr;
	}

	#experience{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 7vh 1fr;
	}

	.JS{
		justify-self: flex-start;
		flex: 1 0 auto;
		margin: 20px;
		font-style: italic;
		font-size: 30px;

	}

	.JS #logo{
		width: fit-content;
		background-clip: text;
		-webkit-background-clip: text;
		color: black;
	}

	#logo:hover{
		color: transparent;
	}


	.newNavBar{
		display: flex;
		grid-column: 1 / 4;
		grid-row: 1;
		background-color: white;
		z-index: 10;
		align-items: center;
		border-top: 2px solid black;
		border-bottom: 2px solid black;

	}

	#menuToggle{
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		width: 30px;
		height: 25px;
		flex-wrap: wrap;
		align-self: center;
		margin: 20px;
		transition: 0.3s;
	}

	nav{
		position: relative;
		top: -300px;
		z-index: 2;
	}

	.logo-li{
		display: none;
	}

	ul{
		flex-wrap: wrap;
	}

	ul:first-child{
		border-left: 0px solid black;
	}

	li{
		flex: 1 0 100%;
		border-left: 2px solid black;
	}

	.about-li, .skills-li, .connect-li, .experience-li{
		border-top: none;
	}

	.btn-line{
		width: 100%;
		height: 3px;
		background: #000;
		margin: 3px auto;
		transition: all 0.3s ease;
		color: #00539C;
	}


	header.experience {
		grid-column: 1 / 4;
		font-size: 26px;
		align-self: flex-start;
		overflow: hidden;
    padding-top: 0;
	}

	.head{
		font-size: 20px;
		width: 100%;
	}


	.job{
		grid-column: 1 / 4;
		margin: 10px;
	}

	.j1{
		grid-template-rows: 10vh;
		grid-row: 4 / 9
	}

	.j2{
		grid-row:  9 / 15;
	}

	.j3{
		grid-row: 15 / 20;
	}

	#experience:has(.j1:hover) {
	  grid-template-columns: 1fr;
	}

	#experience:has(.j2:hover) {
	  grid-template-columns: 1fr;
	}
	#experience:has(.j3:hover) {
	  grid-template-columns: 1fr;
	}


	.about-page{
		font-family: 'Roboto', sans-serif;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 7vh 1fr;
	}

	.about{
		grid-column: 1 / 3;
		grid-row: 3  / 4;
		padding-top: 20px;
		margin-top: 0;
	}

	.about h1{
		font-size: 2rem;
		padding: 30px;
		padding-top: 50px;
		padding-top: 30px;
		text-align: center;
	}


	.img{
		grid-column: 1 / 3;
		grid-row: 1 / 3;
		justify-self: center;
		overflow: hidden;
		height: 100%;
		width: 100%;
		display: flex; 
		margin-top: 0;
	}


	.img img{
		margin-top: 10vh;
		margin-bottom: 0;
		width: 90vw;
		height: auto;
	}

	.skills {
			grid-column: 1 / 4;
	}

.skill-container{
		grid-column: 1 / 3;
		grid-row: 3 / 4;
		padding: 20px;
		width: 100vw;
		padding-top: 0;
		margin-top: 30px;
	}

.scene{
	margin: 10px;
	width: 100%;
	height: 100%;
	perspective: 600px;
	display: flex;
	justify-content: center;
}

.cube-face{
	font-size: 18px;
}

	.skill-1{
		grid-column: 1 / 3;
		grid-row : 4 / 5;
	}
		

	.skill-2{
		grid-column: 1 / 3;
		grid-row : 5 / 6;
	}


	.skill-3{
		grid-column: 1 / 3;
		grid-row : 6 / 7;
	}

	.skill-4{
		grid-column: 1 / 3;
		grid-row : 7 / 8;
	}


	.contact-form{
		grid-column: 1 / 3;
		grid-row: 2  / 3;
	}

	.social-media{
		grid-column: 1 / 3;
		grid-row: 3  / 4;

	}

	header.contact{
		font-size: 22px;
	}

	.sym1{
		margin-right: 30px;
	}

	.sym2{
		margin-left: 30px;
	}

	.sym3{
		margin-top: 100px;
	}

	.sym4{
		margin-bottom: 170px;
	}

	.thank-you{
		font-size: 30px;
		padding: 20px;
	}

}