*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: black;
	overflow-y: hidden;
}

a{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: black;
	transition: color 0.3s ease;
}

a:hover{
	color: #74F8CB;
}

.marquee{
	height: 50px;
	width: 100%;
	z-index: 90;
	border: 2px solid black;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	color: black;
	overflow: hidden;
	background-color: white;
	gap: 100px;
}

.marquee-bottom{
	height: 50px;
	width: 100%;
	z-index: 90;
	border: 3px solid black;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	color: black;
	overflow: hidden;
	background-color: white;
}

.marquee-group span{
	color: black;
	white-space: nowrap;
	font-size: 20px;
	font-style: italic;
}


.marquee-group{
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: space-between;
	gap: 100px;
	min-width: 100%;
	animation: scroll-left 25s linear infinite;
	font-family: 'Roboto', sans-serif;


}

@keyframes scroll-left{
	0%{
		transform: translateX(0%);
	}
	100%{
		transform: translateX(calc(-100% - 100px));
	}
}

.flex-container-1{
	display: flex;
	flex-wrap: wrap;
	transition: 0.3s ease;
	justify-content: center;
	position: relative;
}


.flex-container-2 {
	display: flex;
	position: relative;
	top: -20vh;
	transition: 0.3s ease;
}

.work, .about, .connect, .community, .logo{
	background-color: #FFFFFF; 
	background-image: linear-gradient(#F8CB74, #F8CB74);
  	background-repeat: no-repeat;
 	transition: background-size .1s, color .1s;
 	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	border: 2px solid black; 

}

.work{
	flex: 0 1 60%;
	align-self: flex-start;
	height: 40vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s ease;
   /* border-right-width: 0;
    border-bottom-width: 0;*/
    position: relative;
    background-position: 0% 0%;
    background-size: 0% 0%;
  
}


.work:hover{
	background-size: 100% 100%;
	cursor: pointer;
	color: white;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: 5px;
}

.connect{
	flex: 0 1 40%;
	height: 60vh;
	text-align: center;
	align-self: flex-end;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s ease;
	position: relative;
	background-position: 100% 0%;
    background-size: 0% 0%;

}

.connect:hover{
	background-size: 100% 100%;
	cursor: pointer;
	color: white;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: 5px;
}


.about{
	flex: 0 1 40%;
	height: 60vh;
	position: relative;
	top: -20vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s ease;
	order: 1;
	position: relative;
	background-position: 0% 100%;
    background-size: 0% 0%;


}


.about:hover{
	background-size: 100% 100%;
	cursor: pointer;
	color: white;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: 5px;
}

.logo{
	flex: 0 1 20%;
	height: 20vh;
	position: relative;
	top: -20vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-self: center;
	justify-content: center;
	transition: 0.3s ease;
   /* border-left-width: 0;
    border-right-width: 0;*/
    max-width: 40vw;
    min-width: 20vw;
    background-size: 40vw 100vh;
    background-position: center;
}


div.preload-images {
  background: url('images/IMG_1.JPG') no-repeat;
  background: url('images/IMG_2.JPG') no-repeat,
    url('images/IMG_3.JPG') no-repeat,
    url('images/IMG_4.JPG') no-repeat,
    url('images/IMG_5.JPG')no-repeat,
    url('images/IMG_6.JPG') no-repeat,
    url('images/IMG_7.jpeg') no-repeat,
    url('images/IMG_8.JPG') no-repeat,
    url('images/IMG_9.JPG') no-repeat,
    url('images/IMG_10.JPG') no-repeat;
    z-index: -1;
}

@keyframes scrolling-background{
	0%{
		background-image: url('images/IMG_1.JPG');
		opacity: 0.8;
		-webkit-text-stroke-width: 1px;
   		-webkit-text-stroke-color: white;
	}

	10%{
		background-image: url("images/IMG_2.JPG");
		opacity: 0.8;
	-webkit-text-stroke-width: 1px;
   		-webkit-text-stroke-color: white;
	}

	20%{
		background-image: url("images/IMG_3.JPG");
		opacity: 0.8;
	-webkit-text-stroke-width: 1px;
   		-webkit-text-stroke-color: white;
	}

	30%{
		background-image: url('images/IMG_4.JPG');
		opacity: 0.8;
	-webkit-text-stroke-width: 1px;
   		-webkit-text-stroke-color: white;
	}

	40%{
		background-image: url('images/IMG_5.JPG');
		opacity: 0.8;
	-webkit-text-stroke-width: 1px;
   		-webkit-text-stroke-color: white;
	}

	50%{
		background-image: url('images/IMG_6.JPG');
		opacity: 0.8;
	-webkit-text-stroke-width: 1px;
   		-webkit-text-stroke-color: white;
	}

	60%{
		background-image: url('images/IMG_7.jpeg');
		opacity: 0.8;
	-webkit-text-stroke-width: 1px;
   		-webkit-text-stroke-color: white;
	}

	70%{
		background-image: url('images/IMG_8.JPG');
		opacity: 0.7;
	-webkit-text-stroke-width: 1px;
   		-webkit-text-stroke-color: white;
	}

	80%{
		background-image: url('images/IMG_9.JPG');
		opacity: 0.7;
	-webkit-text-stroke-width: 1px;
   		-webkit-text-stroke-color: white;
	}

	90%{
		background-image: url('images/IMG_10.JPG');
		opacity: 0.6;
	-webkit-text-stroke-width: 1px;
   		-webkit-text-stroke-color: white;
	}
	100%{
		background-image: url('images/IMG_10.JPG');
		opacity: 0.6;
	-webkit-text-stroke-width: 1px;
   		-webkit-text-stroke-color: white;
	}
}

@-webkit-keyframes scrolling-background{
	0%{
		background-image: url('images/IMG_1.JPG');
		opacity: 0.8;

	}

	10%{
		background-image: url("images/IMG_2.JPG");
		opacity: 0.8;

	}

	20%{
		background-image: url("images/IMG_3.JPG");
		opacity: 0.8;

	}

	30%{
		background-image: url('images/IMG_4.JPG');
		opacity: 0.8;

	}

	40%{
		background-image: url('images/IMG_5.JPG');
		opacity: 0.8;

	}

	50%{
		background-image: url('images/IMG_6.JPG');
		opacity: 0.8;

	}

	60%{
		background-image: url('images/IMG_7.jpeg');
		opacity: 0.8;

	}

	70%{
		background-image: url('images/IMG_8.JPG');
		opacity: 0.7;

	}

	80%{
		background-image: url('images/IMG_9.JPG');
		opacity: 0.7;

	}

	90%{
		background-image: url('images/IMG_10.JPG');
		opacity: 0.7;

	}
	100%{
		background-image: url('images/IMG_10.JPG');
		opacity: 0.7;

	}
}

.logo:hover{
	cursor: pointer;
	color: #74F8CB;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 5px;
	animation-name: scrolling-background; 
	animation-duration: 4s;
	animation-timing-function: linear;
	-webkit-animation-name: scrolling-background; 
	-webkit-animation-duration: 4s;
	-webkit-animation-timing-function: linear;
}


.community{
	flex: 0 1 60%;
	align-self: flex-start;
	height: 40vh;
	position: relative;
	top: -20vh;
	text-align: center;
	display: flex;
	align-items: center;
	align-self: flex-end;
	justify-content: center;
	transition: 0.3s ease;
	order: 2;
	position: relative;
	background-position: 100% 100%;
    background-size: 0% 0%;

    /*border-left-width: 0;
    border-top-width: 0;*/
}


.hidden-logo{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20%;
	height: 20%;
	transform: translate(-50%, -50%);
	border: 3px solid black;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s ease-in-out;
}

.community:hover{
    background-size: 100% 100%;
	cursor: pointer;
	color: white;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: 5px;
}

.work, .about, .community, .connect, .logo{
	transition: flex 0.3s, background 0.3s, font-size 0.3s, top 0.3s, margin: 0.3s, left 0.3s,
	margin-left 0.3s, margin-right 0.3s, height 0.3s, color 0.3s, background-size 0.3s, background-position 0.3s;
}


@media only screen and (max-width: 1210px){
	.logo:hover{
			font-size: 34px;
		}	
}

@media only screen and (max-width: 1000px){

	.logo{
		font-size: 12px;
	}

	.logo:hover{
		font-size: 24px;
	}

	.work:hover{
		font-size: 30px;
	}

	.about:hover{
		font-size: 30px;
	}

	.community:hover{
		font-size: 30px;
	}

	.connect:hover{
		font-size: 30px;
	}

}


@media (max-width: 756px){

	div br{
		display: none !important;
	}

	.marquee{
		border-top: 4px solid black;
		height: 8svh;
	}

	.work, .about, .community, .connect, .logo{
		flex: 1 0 100% !important;
		height: 18.4svh !important;
		left: 0 !important;
		top: 0 !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.flex-container-2{
		flex-wrap: wrap !important;
		top: 0 !important;
		left: 0 !important;
	}

	.logo{
		top: 0 !important;
		order: 1 !important;
		font-size: 16px;
		color: #74F8CB;
   		max-width: 100vw;
   		background-size: 100vw 100vh;
   		background-position: bottom;
	}

	.logo:hover, .logo:focus{
		cursor: pointer;
		color: #74F8CB;
		font-size: 22px !important;
		font-weight: bold;
		letter-spacing: 5px;
		animation-name: scrolling-background; 
		animation-duration: 4s;
		animation-timing-function: linear;
		-webkit-animation-name: scrolling-background; 
		-webkit-animation-duration: 4s;
		-webkit-animation-timing-function: linear;
	}

	.logo-hover{
		cursor: pointer;
		color: #74F8CB;
		font-size: 22px !important;
		font-weight: bold;
		letter-spacing: 5px;
		animation-name: scrolling-background; 
		animation-duration: 4s;
		animation-timing-function: linear;
		-webkit-animation-name: scrolling-background; 
		-webkit-animation-duration: 4s;
		-webkit-animation-timing-function: linear;
	}

	.work{
		order: 2 !important;
	}

	.work:hover, .work_hover{
		background-size: 100% 100%;
		cursor: pointer;
		color: white;
		font-size: 32px;
		font-weight: bold;
		letter-spacing: 5px;
		background-color: #F0898C
	}

	.connect{
		order: 3 !important;
	}

	.connect:hover, .connect_hover, .about:hover, .about_hover, .community:hover, .community_hover{
			background-size: 100% 100%;
			cursor: pointer;
			color: white;
			font-size: 32px;
			font-weight: bold;
			letter-spacing: 5px;
			background-color: #F0898C
		}


	.about, .community{
		top: 0vh !important;
	}


}
