*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: black;
	overflow: hidden;
}

a{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: black;
	transition: color 0.3s ease;
}

a:hover{
	color: #4BC0EF;
}

.marquee{
	height: 50px;
	width: 100%;
	z-index: 90;
	border: 3px solid black;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	color: black;
	overflow: hidden;
	background-color: white;
	gap: 100px;
}

.marquee-bottom{
	height: 50px;
	width: 100%;
	z-index: 90;
	border: 3px solid black;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	color: black;
	overflow: hidden;
	background-color: white;
}

.marquee-group span{

	color: black;
	white-space: nowrap;
	font-size: 20px;

}


.marquee-group{
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: space-between;
	gap: 100px;
	min-width: 100%;
	animation: scroll-left 10s linear infinite;
	font-family: 'Roboto', sans-serif;


}

@keyframes scroll-left{
	0%{
		transform: translateX(0%);
	}
	100%{
		transform: translateX(calc(-100% - 100px));
	}
}

.flex-container-1{
	display: flex;
	flex-wrap: wrap;
	transition: 0.3s ease;
	justify-content: center;
	position: relative;
}


.flex-container-2 {
	display: flex;
	position: relative;
	top: -20vh;
	transition: 0.3s ease;
}

.work, .about, .connect, .community, .logo{
	background-color: white; 
	background-image: linear-gradient(#F0898C, #F0898C);
  	background-repeat: no-repeat;
 	transition: background-size .1s, color .1s;
 	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}

.work{
	border: 3px solid black;

	flex: 0 1 60%;
	align-self: flex-start;
	height: 40vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s ease;
   /* border-right-width: 0;
    border-bottom-width: 0;*/
    position: relative;
    background-position: 0% 0%;
    background-size: 0% 0%;
  
}


.work:hover{
	background-size: 100% 100%;
	cursor: pointer;
	color: #4BC0EF;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: 5px;
}

.connect{
	border: 3px solid black;

	flex: 0 1 40%;
	height: 60vh;
	text-align: center;
	align-self: flex-end;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s ease;
	position: relative;
	background-position: 100% 0%;
    background-size: 0% 0%;

}

.connect:hover{
	background-size: 100% 100%;
	cursor: pointer;
	color: #4BC0EF;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: 5px;
}


.about{
	border: 3px solid black;
	flex: 0 1 40%;
	height: 60vh;
	position: relative;
	top: -20vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s ease;
	order: 1;
	position: relative;
	background-position: 0% 100%;
    background-size: 0% 0%;


}


.about:hover{
	background-size: 100% 100%;
	cursor: pointer;
	color: #4BC0EF;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: 5px;
}

.logo{
	border: 3px solid black;

	flex: 0 1 20%;
	height: 20vh;
	position: relative;
	top: -20vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-self: center;
	justify-content: center;
	transition: 0.3s ease;
   /* border-left-width: 0;
    border-right-width: 0;*/

}

.logo:hover{
	cursor: pointer;
	color: #4BC0EF;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: 5px;
}


.community{
	border: 3px solid black;
	flex: 0 1 60%;
	align-self: flex-start;
	height: 40vh;
	position: relative;
	top: -20vh;
	text-align: center;
	display: flex;
	align-items: center;
	align-self: flex-end;
	justify-content: center;
	transition: 0.3s ease;
	order: 2;
	position: relative;
	background-position: 100% 100%;
    background-size: 0% 0%;

    /*border-left-width: 0;
    border-top-width: 0;*/
}


.hidden-logo{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20%;
	height: 20%;
	transform: translate(-50%, -50%);
	border: 3px solid black;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s ease-in-out;
}

.community:hover{
    background-size: 100% 100%;
	cursor: pointer;
	color: #4BC0EF;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: 5px;
}

.work, .about, .community, .connect, .logo{
	transition: flex 0.3s, background 0.3s, font-size 0.3s, top 0.3s, margin: 0.3s, left 0.3s,
	margin-left 0.3s, margin-right 0.3s, height 0.3s, color 0.3s, background-size 0.3s, background-position 0.3s;
}


@media only screen and (max-width: 1210px){
	.logo:hover{
			font-size: 38px;
		}	
}

@media only screen and (max-width: 1000px){

	.logo{
		font-size: 12px;
	}

	.logo:hover{
		font-size: 24px;
	}

	.work:hover{
		font-size: 30px;
	}

	.about:hover{
		font-size: 30px;
	}

	.community:hover{
		font-size: 30px;
	}

	.connect:hover{
		font-size: 30px;
	}

}


@media (max-width: 756px){
	.work, .about, .community, .connect, .logo{
		flex: 1 0 100% !important;
		height: 19vh !important;
		left: 0 !important;
		top: 0 !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.flex-container-2{
		flex-wrap: wrap !important;
		top: 0 !important;
		left: 0 !important;
	}

	.logo{
		top: 0 !important;
		order: 1 !important;
	}

	.logo:hover{
		cursor: pointer;
		color: #4BC0EF;
		font-size: 32px;
		font-weight: bold;
		letter-spacing: 5px;
	}


	.work{
		order: 2 !important;
	}

	.work:hover{
		background-size: 100% 100%;
		cursor: pointer;
		color: #4BC0EF;
		font-size: 32px;
		font-weight: bold;
		letter-spacing: 5px;
		background-color: #F0898C
	}

	.connect{
		order: 3 !important;
	}

	.connect:hover{
			background-size: 100% 100%;
			cursor: pointer;
			color: #4BC0EF;
			font-size: 32px;
			font-weight: bold;
			letter-spacing: 5px;
			background-color: #F0898C
		}


	.about, .community{
		top: 0vh !important;
	}


}
