*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.grid-container{
	display: grid;
	gap: 1px;
	grid-template-areas: 
	"header"
	"nav"
	"content"
	"sidebar"
	"footer";

}

.main-header{
	background-color: green;
	grid-area: header;
	height: 15vh;
}

.main-nav{
	background-color: blue;
	grid-area: nav;
	height: 10vh;
}

.content{
	grid-area: content;
	background-color: floralwhite;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-template-rows: repeat(8, 1fr);
	text-align: center;
}

.blocker1{
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 7;
	grid-column-end: 7;
	overflow: hidden;
	background-color: floralwhite;
	z-index: 11;
}

.blocker2{
	grid-row-start: 5;
	grid-row-end: 5;
	grid-column-start: 7;
	grid-column-end: 7;
	overflow: hidden;
	background-color: floralwhite;
	z-index: 11;
}


.blocker3{
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 8;
	grid-column-end: 8;
	overflow: hidden;
	background-color: floralwhite;
	z-index: 11;
}


.blocker4{
	grid-row-start: 5;
	grid-row-end: 5;
	grid-column-start: 8;
	grid-column-end: 8;
	overflow: hidden;
	background-color: floralwhite;
	z-index: 11;
}

.letter{
	font-size: 32px;
	font-style: italic;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.randColor{
	transition: 1s;
}

.J{
	grid-row-start: 2;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 3;
}

.triangle{
	grid-row-start: 2;
	grid-row-end: 5;
	grid-column-start: 3;
	grid-column-end: 14;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
    border-top: 300px solid #fdd8de;
}

.triangle1{
	grid-row-start: 2;
	grid-row-end: 5;
	grid-column-start: 3;
	grid-column-end: 14;
	border-right: 72vw solid transparent;
    border-bottom: 60vh solid blue;
}

.triangle2{
	grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
    border-top: 60vh solid transparent;
    border-left: 7vw solid floralwhite;
}

.triangle3{
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 2;
	grid-column-end: 5;
	border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 41px solid black;
    transform: translateX(-12px) translateY(20px) rotate(-25deg);
}

.circ{
		grid-row-start: 1;
		grid-row-end: 1;
		grid-column-start: 8;
		grid-column-end: 8;
		justify-content: center;
		text-align: center;
	}
	
.circle{
	height: 50px;
	width: 50px;
	background-color: lightyellow;
	border-radius: 50%;
	z-index: 20;
}

.U{
	grid-row-start: 2;
	grid-row-end: 2;
	grid-column-start: 4;
	grid-column-end: 4;
}

.S{
	grid-row-start: 2;
	grid-row-end: 2;
	grid-column-start: 5;
	grid-column-end: 5;
}

.T{
	grid-row-start: 2;
	grid-row-end: 2;
	grid-column-start: 6;
	grid-column-end: 6;
}

.I{
	grid-row-start: 2;
	grid-row-end: 2;
	grid-column-start: 7;
	grid-column-end: 7;
}

.N{
	grid-row-start: 2;
	grid-row-end: 2;
	grid-column-start: 8;
	grid-column-end: 8;
}

.S2{
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 4;
	grid-column-end: 4;
}

.T2{
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 5;
	grid-column-end: 5;
}

.E2{
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 6;
	grid-column-end: 6;
}

/*
.gradColor{
	display: grid;
	/*background: linear-gradient(-45deg, #ee7752, #e73c37, #23a6d5, #23d5ab);
	-webkit-background-clip: text;
	grid-row-start: 1;
	grid-row-end: 5;
	grid-column-start: 7;
	grid-column-end: 9;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	text-align: center;
}
*/

.I2{
	animation: move-verticle 5s linear infinite reverse,
	rainbow-animation 5s linear infinite;
	/*animation: increaseIn 3s linear;*/
	animation-fill-mode: forwards;
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 7;
	grid-column-end: 7;
	color: floralwhite;	
}

.I3{
	animation: move-verticle 5s linear 1.25s infinite reverse,
	rainbow-animation 5s linear 1.25s infinite;
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 7;
	grid-column-end: 7;
	color: floralwhite;
}
.I4{
	animation: move-verticle 5s linear 2.5s infinite reverse,	
	rainbow-animation 5s linear 2.5s infinite;
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 7;
	grid-column-end: 7;
	color: floralwhite;
}

.I5{
	animation: move-verticle 5s linear 3.75s infinite reverse,
	rainbow-animation 5s linear 3.75s infinite;

	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 7;
	grid-column-end: 7;
	color: floralwhite;

}

.I6{
	animation: movestart 0s reverse, move-verticle 5s linear 5.0s infinite reverse, rainbow-animation 5s linear 5.0s infinite;
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 7;
	grid-column-end: 7;
	color: floralwhite;
}


.N2{
	animation: movestart 0s reverse, move-verticle 5s linear infinite reverse,
	rainbow-animation 5s linear infinite;
	/*animation: increaseIn2 3s linear;
	animation-fill-mode: forwards;*/
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 8;
	grid-column-end: 8;
		color: floralwhite;

}


.N3{
	animation: movestart 0s reverse, move-verticle 5s linear 1.25s infinite reverse,
	rainbow-animation 5s linear 1.25s infinite;

	/*animation: increaseIn2 3s linear;
	animation-fill-mode: forwards;*/
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 8;
	grid-column-end: 8;
	color: floralwhite;

}

.N4{
	animation: movestart 0s reverse, move-verticle 5s linear 2.5s infinite reverse,
	rainbow-animation 5s linear 2.5s infinite;

	/*animation: increaseIn2 3s linear;
	animation-fill-mode: forwards;*/
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 8;
	grid-column-end: 8;
	color: floralwhite;

}

.N5{
	animation: movestart 0s reverse, move-verticle 5s linear 3.75s infinite reverse, rainbow-animation 5s linear 3.75s infinite;
	-webkit-animation: move-verticle 5s linear 3.75s infinite reverse, rainbow-animation 5s linear 3.75s infinite;
	/*animation: increaseIn2 3s linear;
	animation-fill-mode: forwards;*/
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 8;
	grid-column-end: 8;
	color: floralwhite;

}

.N6{
	animation: movestart 0s reverse, move-verticle 5s linear 5.0s infinite reverse, rainbow-animation 5s linear 5.0s infinite;
	display: none;
	/*animation: increaseIn2 3s linear;
	animation-fill-mode: forwards;*/
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 8;
	grid-column-end: 8;
	color: floralwhite;

}


.B2{
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 9;
	grid-column-end: 9;
}

.E3{
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 10;
	grid-column-end: 10;
}

.R2{
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 11;
	grid-column-end: 11;
}

.G2{
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 12;
	grid-column-end: 12;
}


.I7{


	grid-row-start: 4;
	grid-row-end: 4;
	grid-column-start: 7;
	grid-column-end: 7;

}


.N7{

	grid-row-start: 4;
	grid-row-end: 4;
	grid-column-start: 8;
	grid-column-end: 8;

}


.S7{
	grid-row-start: 4;
	grid-row-end: 4;
	grid-column-start: 9;
	grid-column-end: 9;
}


.P7{
	grid-row-start: 4;
	grid-row-end: 4;
	grid-column-start: 10;
	grid-column-end: 10;

}

.I8{
	grid-row-start: 4;
	grid-row-end: 4;
	grid-column-start: 11;
	grid-column-end: 11;

}


.R7{
	grid-row-start: 4;
	grid-row-end: 4;
	grid-column-start: 12;
	grid-column-end: 12;

}

.E7{
	grid-row-start: 4;
	grid-row-end: 4;
	grid-column-start: 13;
	grid-column-end: 13;

}

.D7{
	grid-row-start: 4;
	grid-row-end: 4;
	grid-column-start: 14;
	grid-column-end: 14;

}

.I2, .I3, .I4, .I5, .I6, .N2, .N3, .N4, .N5, .N6{
		color: blue;
	}


.side{
	grid-area: sidebar;
	background-color: crimson;
}

.main-footer{
	grid-area: footer;
	background-color: coral;
}

li{
	display: inline;
}

li a{
	color: black;
}

@keyframes move-verticle{
	from{
		transform: translateY(-175%);
		z-index: 10;
	}
	to{
		transform: translateY(175%);	
		z-index: 10;
	}
}
/*
@keyframes move-start{
	to{
		transform: translateY(100%);	
	}
}
*/

@keyframes rainbow-animation{
	0%, 100%{
		color: #f6b630;
	}
	10%{
		color: #d68332;
	}
	20%{
		color: #f5b196;
	}
	30%{
		color: #a3b0d4;
	}
	40%{
		color: #ddcaca;
	}
	50%{
		color: #a38e92;
	}
	60%{
		color: #917992;
	}
	70%{
		color: #617199;
	}
	80%{
		color: #545a75;
	}
	90%{
		color: #30344c
	}
}

@keyframes increaseIn{
	from{
		font-size: 42px;
		/*grid-row-start: 3;
		grid-row-end: 3;
		grid-column-start: 7;
		grid-column-end: 7;*/
	}
	to{
		font-size: 402px;
		/*grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 7;
		grid-column-end: 7;*/
	}
}

@keyframes increaseIn2{
	from{
		font-size: 42px;
		/*grid-row-start: 3;
		grid-row-end: 3;
		grid-column-start: 8;
		grid-column-end: 8;*/
	}
		
	to{
		font-size: 402px;
		/*grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 8;
		grid-column-end: 8;*/
	}
}

@media screen and (min-width: 576px){

	.grid-container {
		display: grid;
		gap: 0px;
		grid-template-columns: 11fr 1fr;
		grid-template-areas:
		"content content " 
		"header header"
		"nav nav"
		"sidebar sidebar"
		"footer footer";
		transition: 0.3s;
	}

	.grid-container:has(.side:hover){
		grid-template-columns: 11fr 3fr;
	}

	.content{
		grid-template-rows: repeat(5, 1fr);
	}

	.letter{
		font-size: 64px;
	}	

	.I2, .I3, .I4, .I5, .I6, .N2, .N3, .N4, .N5, .N6{
		color: blue;
	}

	.triangle{
	grid-row-start: 2;
	grid-row-end: 5;
	grid-column-start: 3;
	grid-column-end: 14;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
    border-top: 300px solid #fdd8de;
	}

	.circ {
	    align-items: center;
	    grid-row-start: 1;
	    grid-row-end: 1;
	    grid-column-start: 8;
	    display: grid;
	    grid-column-end: 8;
	    justify-content: center;
	}

	.circle {
	    height: 80px;
	    width: 80px; 
	    background-color: #fff;
	    box-shadow: 0px 0px 30px 10px lightyellow;
	    border-radius: 50%;
	    display: inline-block;
	    z-index: 20;
	    transform: translate(-47px, 20px);
	}

	.triangle1 {
	    grid-row-start: 2;
	    grid-row-end: 5;
	    grid-column-start: 5;
	    grid-column-end: 11;
	    border-right: 13vw solid transparent;
	    border-bottom: 60vh solid blue;
	}
	.triangle2 {
	    grid-row-start: 2;
	    grid-row-end: 5;
	    grid-column-start: 4;
	    grid-column-end: 7;
	    border-right: 25vh solid transparent;
	    border-top: 31vw solid floralwhite;
	}

	.triangle3 {
	    z-index: 15;
	    grid-row-start: 1;
	    grid-row-end: 1;
	    grid-column-start: 6;
	    grid-column-end: 10;
	    border-left: 30px solid transparent;
	    border-right: 30px solid transparent;
	    border-bottom: 130px solid black;
	    transform: translateY(10px);
	    /* border-radius: 0px; */
	}

}